<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Name of the process to monitor  -->
    <add key="ProcessName" value="Chrome"/>
    
    <!-- Speed limit assigned to the process in kb/s. Over this value the pc will be forced to stay awake  -->
    <add key="ProcessSpeedLimit" value="500"/>
    
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
